@{
    ViewData["Title"] = "Privacy Policy";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    For any assistance, please contact our support team at:

    Email: zakimohamed670@gmail.com
    Phone: 01080180695
</p>
